@tailwind base;

@tailwind components;

@tailwind utilities;

.text-blue-sd {
    color: #1e72ae;
  }

.bg-blue-sd{
  background-color: #43a7ee;
}
.align{
  
}

.sbox-sd{
  width: "370px";
  border: 2px red solid;
}
.input-css{
  margin:40px;
}

.input2{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dashboard{
  /* margin-bottom: 70px;
  height:100px; */    
}
.MuiStepIcon-completed{
  color:green;
}
.MuiStepIcon-root.MuiStepIcon-completed{
    color:green;
}
.scrollbars{
  max-height: 100px;
  overflow: 'auto'
}
.glistcss{
  margin-left: 18.6em;
  margin-top: -31px;
}