
.text-blue-sd {
  color: #1e72ae;
}
.interpretationsbg{
 background-color: #d9e7f4;
 width: '100%';
max-width: '36ch';
display: 'flex';
}

.bg-blue-sd {
  background-color: #43a7ee;
}
.alignGrid {
  margin: 0 auto;
  padding-left: 4em;
}

.sbox-sd {
  width: 370px;
  border: 2px red solid;
}
.input-css {
  margin: 40px;
}

.input2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.MuiStepIcon-completed {
  color: green;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: green;
}
.scrollbars {
  max-height: 100px;
  overflow: auto
}
.glistcss{
  margin-left: 46em
}
.slideHeight {
  height: 32em;
  width: 80em;
}
.BrainhubCarousel__arrows {
  background-color: #43a7ee;
  color: #84A9CB;
}
.cpx{
  background-color: #84A9CB;
}
.osx{
  margin-left: 14em;
}
.mma{
  color: rgb(223, 232, 241);
}

.gridl {
  display: grid;
  width: 100%;
  grid-template-columns: 128px 1fr;
}
.slideHeightDiv2{
  height: 3.5em;
  padding-top: 12px;

}
.gridbg {
  /* background-color: #5a5a5a; */
  /* margin-left: 6em; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}


.slick-slide {
  /*margin: auto;*/
}

table.pivot * {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -o-user-select: none !important;
  user-select: none !important;
}

