
.text-blue-sd {
  color: #1e72ae;
}

.bg-blue-sd {
  background-color: #43a7ee;
}
.align {
}

.sbox-sd {
  width: "370px";
  border: 2px red solid;
}
.input-css {
  margin: 40px;
}

.input2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dashboard {
  /* margin-bottom: 70px;
  height:100px; */
}
.MuiStepIcon-completed {
  color: green;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: green;
}
.scrollbars {
  max-height: 100px;
  overflow: auto
}
.glistcss{
  margin-left: 46em
}
.slideHeight {
  height: 32em;
  width: 80em;
}
.BrainhubCarousel__arrows {
  background-color: #43a7ee;
  color: #84A9CB;
}
.cpx{
  background-color: #84A9CB;
}
.osx{
  margin-left: 14em;
}
.mma{
  color: rgb(223, 232, 241);
}

.gridl {
  display: grid;
  width: 100%;
  grid-template-columns: 128px 1fr;
}
.slideHeightDiv2{
  height: 3.5em;
  padding-top: 12px;

}
.gridbg {
  /* background-color: #5a5a5a; */
  /* margin-left: 6em; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.w-new{
  inline-size: -webkit-fill-available;
  height: -webkit-fill-available;

}


.container {
  margin: auto;
  padding: 40px;
}
